<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <link rel="icon" href="{{ url_for('static', filename = 'images/icon.png') }}" type="image/icon type">
    <link href="{{ url_for('static', filename='css/priceTable.css') }}" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>

    <h2>{{ table_title }}</h2>
    <p>*Report Generation: As per the data reported by APMCs (Prices in Rs/Quintal)</p>

    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>{{ pricesData[0]['State'] }}</th>
                <th>{{ pricesData[0]['currentMonthValue'] }}</th>
                <th>{{ pricesData[0]['previousMonthValue'] }}</th>
                <th>{{ pricesData[0]['currentMonthLastYearValue'] }}</th>
                <th>{{ pricesData[0]['changePercentMonth'] }}</th>
                <th>{{ pricesData[0]['changePercentYear'] }}</th>
            </tr>
            {% for data_row in pricesData[1:] %}
            <tr>
                <td>
                    {{ data_row['State'] }}
                </td>
                <td>
                    {{ data_row['currentMonthValue'] }}
                </td>
                <td>
                    {{ data_row['previousMonthValue'] }}
                </td>

                <td>
                    {{ data_row['currentMonthLastYearValue'] }}
                </td>
                <td>
                    {{ data_row['changePercentMonth'] }}
                </td>
                <td>
                    {{ data_row['changePercentYear'] }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>