<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lilita+One|Ubuntu&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename = 'images/icon.png') }}" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage">FarmWiser</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Features</a></li>
                    <li><a href="#news">News</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>FarmWiser</h1>
        <p>Realtime Agriculture Trends at your finger tips!</p>
    </div>

    <!-- (About Section) -->
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>About FarmWiser</h2><br>
                <h4>Introducing FarmWiser, the ultimate farmer's companion that provides expert guidance on all crop-related matters. With cutting-edge features which includes a Weather Forecaster, Crop Recommendation System, and Realtime Soil Health Monitoring and Alerting System: Soilitix, this app ensures that farmers stay ahead of the game with advance knowledge of atmospheric conditions and soil health. And that's not all! FarmWiser also offers a State Wise agriculture Commodity Price Viewer, Plant Disease Detection System: ChromaticScan, and agriculture <a href=#news>News Viewer</a> that extracts relevant information from multiple media sources into an easy-to-understand format. Say goodbye to uncertainty and hello to a brighter, more prosperous future with FarmWiser.
                </h4>
                <br><a href="{{ url_for('cropRecommender') }}"><button class="btn btn-default btn-lg">Crop
                        Recommendation</button></a>
                <br>
                <br><a href="https://chromaticscan.streamlit.app/"><button
                        class="btn btn-default btn-lg">ChromaticScan</button></a>
                <br>
                <br><a href="{{ url_for('weatherFinder') }}"><button class="btn btn-default btn-lg">Realtime
                        Weather</button></a>
                <br>

                <br><a href="{{ url_for('CommodityPriceReportGenerator') }}"><button
                        class="btn btn-default btn-lg">Statewise Commodity
                        Price Viewer</button></a>
                <br>
                <br><a href="https://soilitix.streamlit.app/"><button
                        class="btn btn-default btn-lg">Soilitix</button></a>
                <br>
            </div>
            <div class="col-sm-4">
                <span><img src="{{ url_for('static', filename = 'images/farmer.png') }}" width="100%"></span>
            </div>
        </div>
    </div>
    <!-- (About Section) -->


    <!-- (Features Section) -->
    <div id="services" class="container-fluid text-center bg-grey">
        <h2>Features</h2>
        <h4>What we offer</h4>
        <br>
        <div class="row slideanim">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-time logo-small"></span>
                <h4>RealTime Data</h4>
                <p>Get your daily dose of <br> 24/7 Agriculture trends and stay woke</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-screenshot logo-small"></span>
                <h4>Accuracy</h4>
                <p>Accurate Realtime Data, <br> Automatically updated STATS and NEWS</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-signal logo-small"></span>
                <h4>Screener</h4>
                <p>Have a clear visualisation about <br> the Agriculture trends</p>
            </div>
        </div>
        <br><br>
    </div>
    <!-- (Features Section) -->



    <!-- (News Section) -->
    <div id="news" class="container-fluid text-center bg-blue">
        <h2>News</h2><br>

        <h2>Top Trending News is Here</h2>
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h4>{{news[0]['title']}}<br><span><a href={{news[0]['link']}} target="_blank"><span
                                    class="glyphicon glyphicon-new-window"></span> Read More</a></span></h4>
                </div>

                {% for new in news[1:]%}
                <div class="item">
                    <h4>{{new['title']}}<br><span><a href={{new['link']}} target="_blank"><span
                                    class="glyphicon glyphicon-new-window"></span> Read More</a></span></h4>
                </div>
                {% endfor%}
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br>
        <br>
        <h4>Here are some of our Top news sources</h4>
        <div class="row text-center slideanim">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="{{ url_for('static', filename = 'images/economics.png') }}" alt="Economic Times"
                        width="400" height="300">
                    <p><strong>Economic Times</strong></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="{{ url_for('static', filename = 'images/times.png') }}" alt="Times Of India" width="400"
                        height="300">
                    <p><strong>Times Of India</strong></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="{{ url_for('static', filename = 'images/deccan.png') }}" alt="Deccan Chronicle"
                        width="400" height="300">
                    <p><strong>Deccan Chronicle</strong></p>
                </div>
            </div>
        </div><br>

    </div>
    <!-- (News Section) -->



    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <p>© Copyright 2023 <a href="https://github.com/SaiJeevanPuchakayala/FarmWiser">FarmWiser</a></p>
    </footer>


    <script>
        $(document).ready(function () {

            $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

                if (this.hash !== "") {

                    event.preventDefault();


                    var hash = this.hash;

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {

                        window.location.hash = hash;
                    });
                }
            });

            $(window).scroll(function () {
                $(".slideanim").each(function () {
                    var pos = $(this).offset().top;

                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                        $(this).addClass("slide");
                    }
                });
            });
        })
    </script>

</body>

</html>